@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    /*background-color: #212329;*/
    background-color: #121E2A;
    color: #fff;
    padding: 0;
    margin: 0;
}

.modal-content{
    background-color: #1a2433;
}

a {
    text-decoration: none;
}

/* TITLE */
svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.modal-backdrop {
    background-color: transparent;
    z-index: -1;
 }
.carousel-inner {
    padding: 1em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

/* CIRCLE HABILITIES */
.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
}

.single-chart {
    width: 100%;
    justify-content: space-around;
}

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circular-chart.orange .circle {
    stroke: #ff9f00;
}

.circular-chart.green .circle {
    stroke: #4CC790;
}

.circular-chart.red .circle {
    stroke: #dc3545;
}

.percentage {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
}

/* image {
    position: relative;
    display: block;
    text-align: center;
} */

/* TITULOS */

section>h2 {
    display: flex;
    flex-direction: row;
}

section>h2:before,
section>h2:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #fff;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 36;
}

/* CONTATO */

.contato {
    position: absolute;
    width: 172px;
    height: 43px;
    left: 1309px;
    top: 72px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;

}

h2, h3 {
    text-transform: none !important;

}

div>a>img {
    height: 30px;
}


.elipse {
    width: 400px;
    height: 400px;

    background: #D9D9D9;
    border-radius: 50%;
    background-image: url("../images/cML7tPe.jpeg");
    background-size: cover;

}

.hello {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;

    color: #EFEDFF;
}

.desc {
    font-weight: 700;
    font-size: 20px;
    text-align: justify;
    text-justify: inter-word;
}

/*
 * Globals
 */
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%233b4153' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%233b4153' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.logo-icon {
    max-width: 50px;
    max-height: 50px;
}

.card {
    background-color: #1A2433;
    border-radius: 30px;
}

.card:hover {
    box-shadow: 0 0 5px 1px #3b4153;
    transition: all 0.5s ease-in-out;

}

.image {
    border-radius: 20px;
    min-height: auto;
    min-width: auto;
}

.icon {
    max-inline-size: 25px;
    position: relative;
    bottom: 4px;
}

@media (max-width:629px) {
    img#noMobile {
        display: none;
    }

    .navbar-nav {
        position: absolute;
        padding-left: 5rem;
    }

}



/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
}



/*
 * Base structure
 */

.cover-container {
    max-width: 42em;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

.fixed-top {
    position: absolute;
}

::-webkit-scrollbar {
    width: 6px;
    height: 15px;

}

::-webkit-scrollbar-track-piece {
    background-image: linear-gradient(#212329, #383d47);
}

::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: #0A4C95;
}

.topictitle {
    width: fit-content;
    height: fit-content;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.808) !important;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-image: linear-gradient(to right, rgb(63, 138, 236) 100%, transparent 50%) 100% 1;

}

hr {
    background-color: #fff;
    margin: 0 10%;
    opacity: 30%;

}

/**/
/*
 * Header & Nav
 */

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255);
}

header {
    /* background-image: url("../images/wave.svg"); */
    justify-items: space-between;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    padding: 110px 20px;
    background-size: cover;
    height: 100%;


}

nav {
    justify-items: space-between;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    padding: 40px 20px;
    margin: 0 10%;
    margin-top: 10px;
    justify-content: space-between;
}

nav>ul {
    display: inline-block !important;
}

nav>a>img:hover {
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #aaa;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 10px;

}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

nav ul li a:hover {
    color: #555;
}

/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
    position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
}

nav.stroke ul li a:hover:after {
    width: 100%;
}

nav.fill ul li a {
    transition: all 2s;
}

nav.fill ul li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
}

nav.fill ul li a:hover {
    color: #fff;
    z-index: 1;
}

nav.fill ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
}

nav ul li a, nav ul li a:after, nav ul li a:before {
    transition: all .5s;
}

/*
* About me 
*/

#about {
    padding-top: 10rem;
    margin: 0 10% 0;
    margin-bottom: 10rem;

}

#aboutme {
    background-color: #0e1119;
}

#skillstab {
    background-color: #0e1119;
}

input {
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1rem;
}

/* DARK MODE INPUTS */
.dark-mode .custom-control-label::before, .dark-mode .custom-file-label, .dark-mode .custom-file-label::after, .dark-mode .custom-select, .dark-mode .form-control:not(.form-control-navbar):not(.form-control-sidebar), .dark-mode .input-group-text {
    background-color: #0e1119;
    color: #fff;
}

.dark-mode .custom-file-label, .dark-mode .custom-file-label::after, .dark-mode .form-control:not(.form-control-navbar):not(.form-control-sidebar):not(.is-invalid):not(:focus) {
    border-color: #6c757d;
}

.swal2-popup.swal2-toast {
    background-color: #0e1119 !important;
}

.dark-mode .btn-primary {
    color: #fff;
    background-color: #3f6791;
    border-color: #3f6791;
    box-shadow: none;
}


#about>.row>.col-7>h5 {
    text-transform: uppercase;
    font-weight: bold;
    color: #7a98d8;
}

.about_desc {
    padding-right: .5rem 1rem;
}

h2 {
    text-transform: uppercase;
}

/* 
* Skills
 */
.titulo {
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: 700;
}

#skills>.topictitle {
    text-align: center !important;
}

#skills {
    padding-top: 5rem;
    margin: 0 10% 0;
    margin-bottom: 10rem;

}

.skill {
    list-style: none;
    padding-top: 30px;
}

.skill li {
    margin-bottom: 70px;
    background: #030303;
    height: 6px;
    border-radius: 3px;
    border-left: 1px solid #111;
    border-top: 1px solid #111;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
}

.skill li em {
    position: relative;
    font-style: normal;
    font-size: 14px;
    text-align: center;
    color: #dedede;
    top: -28px;
}

.blueline {
    height: 3px;
    margin: 2px 0;
    background: #2187e7;
    position: absolute;
    box-shadow: 0px 0px 10px 1px rgba(0, 198, 255, 0.6);
}



.html {
    width: 34%;
    animation: html 2s ease-out;
}

@keyframes html {
    0% {
        width: 0px;
    }

    100% {
        width: 34%;
    }
}

.bootstrap {
    width: 20%;
    animation: bootstrap 2s ease-out;
}

@keyframes bootstrap {
    0% {
        width: 0px;
    }

    100% {
        width: 20%;
    }
}

.javascript {
    width: 24%;
    animation: javascript 2s ease-out;
}

@keyframes javascript {
    0% {
        width: 0px;
    }

    100% {
        width: 24%;
    }
}

.jquery {
    width: 14%;
    animation: jquery 2s ease-out;
}

@keyframes jquery {
    0% {
        width: 0px;
    }

    100% {
        width: 14%;
    }
}

.laravel {
    width: 16%;
    animation: laravel 2s ease-out;
}

@keyframes laravel {
    0% {
        width: 0px;
    }

    100% {
        width: 16%;
    }
}

.django {
    width: 7%;
    animation: django 2s ease-out;
}

@keyframes django {
    0% {
        width: 0px;
    }

    100% {
        width: 7%;
    }
}

.kotlin {
    width: 27%;
    animation: kotlin 2s ease-out;
}

@keyframes kotlin {
    0% {
        width: 0px;
    }

    100% {
        width: 27%;
    }
}


/*
* Projects
*/
.MultiCarousel {
    float: left;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    position: relative;
}

.MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all;
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item>div {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background: #f1f1f1;
    color: #666;
}

.MultiCarousel .leftLst, .MultiCarousel .rightLst {
    position: absolute;
    border-radius: 50%;
    top: calc(50% - 20px);
}

.MultiCarousel .leftLst {
    left: 0;
}

.MultiCarousel .rightLst {
    right: 0;
}

.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over {
    pointer-events: none;
    background: #ccc;
}

.projects>.topictitle {
    text-align: center !important;
}

.projects {
    margin: 0 10% 0;
    margin-bottom: 10rem;

}

.contact>.topictitle {
    text-align: center !important;
}

.contact {
    margin: 0 10% 0;
    margin-bottom: 15rem;

}

/* 
*WAVES
 */

.path-0 {
    animation: pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
    0% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 144.07142857142856,187.75 288.1428571428571,175.5 408,170 C 527.8571428571429,164.5 623.4999999999999,165.75 720,191 C 816.5000000000001,216.25 913.8571428571429,265.5 1034,271 C 1154.142857142857,276.5 1297.0714285714284,238.25 1440,200 C 1440,200 1440,400 1440,400 Z");
    }

    25% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 119.35714285714289,243.75 238.71428571428578,287.5 348,263 C 457.2857142857142,238.5 556.4999999999998,145.74999999999997 686,127 C 815.5000000000002,108.25000000000003 975.2857142857144,163.5 1106,188 C 1236.7142857142856,212.5 1338.3571428571427,206.25 1440,200 C 1440,200 1440,400 1440,400 Z");
    }

    50% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 118.03571428571428,192.82142857142856 236.07142857142856,185.64285714285714 355,200 C 473.92857142857144,214.35714285714286 593.75,250.25 725,259 C 856.25,267.75 998.9285714285713,249.35714285714286 1120,235 C 1241.0714285714287,220.64285714285714 1340.5357142857142,210.32142857142856 1440,200 C 1440,200 1440,400 1440,400 Z");
    }

    75% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 101.32142857142858,164.03571428571428 202.64285714285717,128.07142857142856 320,127 C 437.35714285714283,125.92857142857143 570.75,159.75 689,176 C 807.25,192.25 910.3571428571429,190.92857142857142 1033,192 C 1155.642857142857,193.07142857142858 1297.8214285714284,196.53571428571428 1440,200 C 1440,200 1440,400 1440,400 Z");
    }

    100% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 144.07142857142856,187.75 288.1428571428571,175.5 408,170 C 527.8571428571429,164.5 623.4999999999999,165.75 720,191 C 816.5000000000001,216.25 913.8571428571429,265.5 1034,271 C 1154.142857142857,276.5 1297.0714285714284,238.25 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
}

/*
* TYPING EFFECT
*/


/* Typewriter effect 1 */
@keyframes typing {
    0.0000%, 67.3488% {
        content: "";
    }

    1.1395%, 66.2093% {
        content: "P";
    }

    2.2791%, 65.0698% {
        content: "Pr";
    }

    3.4186%, 63.9302% {
        content: "Pro";
    }

    5.5581%, 62.7907% {
        content: "Prog";
    }

    6.6977%, 61.6512% {
        content: "Progr";
    }

    7.8372%, 60.5116% {
        content: "Progra";
    }

    8.9767%, 59.3721% {
        content: "Program";
    }

    9.1163%, 58.2326% {
        content: "Programa";
    }

    10.2558%, 57.0930% {
        content: "Programad";
    }

    11.2558%, 56.0930% {
        content: "Programado";
    }

    12.2558%, 55.0930% {
        content: "Programador";
    }

    15.2558%, 54.0930% {
        content: "Programador ";
    }

    13.2558%, 53.0930% {
        content: "Programador F";
    }

    14.2558%, 52.0930% {
        content: "Programador Fu";
    }

    15.2558%, 51.0930% {
        content: "Programador Ful";
    }

    16.2558%, 49.0930% {
        content: "Programador Full";
    }

    17.2558%, 48.0930% {
        content: "Programador Full ";
    }

    18.2558%, 47.0930% {
        content: "Programador Full S";
    }

    19.2558%, 46.0930% {
        content: "Programador Full St";
    }

    20.2558%, 45.0930% {
        content: "Programador Full Sta";
    }

    21.2558%, 44.0930% {
        content: "Programador Full Stac";
    }

    22.2558%, 43.0530% {
        content: "Programador Full Stack";
    }

}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.typewriter {
    --caret: currentcolor;
}

.typewriter::before {
    content: "";
    animation: typing 13.5s infinite;
}

.typewriter::after {
    content: "";
    border-right: 1px solid var(--caret);
    animation: blink 0.5s linear infinite;
}

.typewriter.thick::after {
    border-right: 1ch solid var(--caret);
}

.typewriter.nocaret::after {
    border-right: 0;
}


@media (prefers-reduced-motion) {
    .typewriter::after {
        animation: none;
    }

    @keyframes sequencePopup {
        0%, 100% {
            content: "developer";
        }

        25% {
            content: "writer";
        }

        50% {
            content: "reader";
        }

        75% {
            content: "human";
        }
    }

    .typewriter::before {
        content: "developer";
        animation: sequencePopup 12s linear infinite;
    }
}
